/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

/* Homepage Styles */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
  }

.site-navigation{

}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

.featured-work {

}

.featured-work h4{
  text-align: center;
  text-transform: uppercase;
}

.homepage-featured-work {
  list-style-type: none;

}

.individual-featured-work {
  display: inline-block;
  padding-top: 3%;
  padding-right: 4%;
  padding-bottom: 5%;
}

.individual-featured-work h5 {
  text-align: center;
}

#home-page-bottom {
  display: -webkit-flex;
  display: flex;
}

.blog-post {
  width: 46%;
  clear: both;
  padding-right: 2%;
}

.blog-post h4 {
  font-size: 16px;
  font-family: "Montserrat";
  color: #a6a6a6;
  text-transform: uppercase;
}

.blog-post h2 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}

.blog-post .read-more-link {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #45ac9d;
  text-transform: uppercase;
}

.twitter {
  width: 46%;
  float: right;
  padding-left: 2%;
}

.twitter h4 {
  font-size: 16px;
  font-family: "Montserrat";
  color: #a6a6a6;
  text-transform: uppercase;
}

.twitter h2 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}

.twitter .read-more-link {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #45ac9d;
  text-transform: uppercase;
}

/* Case Study Page Styles */
.case-study-intro h1 {
  font-size: 20px;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.case-study-intro h6 {
  font-size: 12px;
  color: gray;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.case-study-intro h4 {
  font-size: 14px;
  padding-top: 5px;
  margin-top: 5px;
}

.case-study-intro {
  font-size: 14px;
  font-weight: normal;
  float: left;
  clear: both;
  width: 28%;
  padding-left: 0;
  margin-left: 0;
  padding-right: 1%;
}

.case-study-intro a {
  font-weight: bold;
}

.case-study-thumbs {
  float: left;
  width: 70%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 1%;
  margin: auto;
}

.case-study-thumbs img {
  margin-top: 3%;
}

#case-study-archive-link {
font-size: 16px;
font-family: "Montserrat";
font-weight: bold;
color: #45ac9d;
text-transform: uppercase;
}

/**Contact Us Form Styles**/

.nf-form-fields-required {
  display: none;
}

.ninja-forms-req-symbol {
  display: none;
}

.nf-field-label label {
  font-weight: normal;
  font-size: 14px;
}

#nf-field-1 {
  padding: 15px 10px;
}

#nf-field-2 {
  padding: 15px 10px;
}

#nf-field-4 {
  float: right;
  background: #45ac9d;
  color: white;
  padding: 2% 10% 2% 10%;
  font-weight: bold;
  font-size: 18px;
}

.nf-response-msg {
  font-weight: bold;
}

.page-content {
  padding-left: 12%;
  padding-right: 12%;
}


/**About Page Styles**/
.about-page-content {
  padding-left: 5%;
  padding-right: 5%;
}

.about-page-top {
    background: url("img/taxi-photo.jpg") center / cover rgba(0, 0, 0, 0);
    height: 20%;
    padding: 5% 0;
}

.about-hero {
	text-align: center;
  padding-left: 32%;
  padding-right: 32%;
}

.about-hero p {
	color:white;
	font-weight:normal;
  font-size: 18px;
}

.about-intro {
  color: grey;
  text-align: center;
  padding-right: 12%;
  padding-left: 12%;
}

.about-intro h4 {
  text-transform: uppercase;
}

.about-info {
  color: gray;
  clear: both;
  display: -webkit-flex;
  display: flex;
}

.about-info figure {
  clear: both;
  margin: 0 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 9%;

}

.about-info h3 {
  margin-bottom: 3%;
}

.about-info-right {
  padding-left: 3%;
  margin-left: 0;
  margin-top: 0;
  float: right;
  clear: both;
}

.about-info-left {
  padding-right: 3%;
  margin-right: 0;
  margin-top: 0;
  float: left;
  clear: both;
}

.about-foot {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: gray;
  border-bottom-color: gray;
  border-top-width: thin;
  border-bottom-width: thin;
}

.about-foot h2 {
  padding-right: 6%;
  padding-bottom: 2%;
}

.contact-button {
  background: none repeat scroll #45ac9d;
  color: white;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px 10px 20px;
  text-align: center;
}

.error-page {
  margin-top: 30px;
  padding: 0% 5% 3% 5%;
  border-style: ridge;
  border-color: #45ac9d;
  border-width: medium;
}

.error-page span {
  color: #45ac9d;
  font-weight: bold;
}

/**Sidebar styles**/

.mc4wp-form-fields {
  padding-bottom: 0.5%;
}
