/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

body {
    background: red;
}