<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateUc6va;pwd=&quot;#F_2J=tA#q#n&quot;;Database=accelerate1" name="accelerate1" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
