<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=MyAcceleraU1g5r;pwd=&quot;-6[T_CzH;%jn&quot;;Database=MyAccelerate" name="MyAccelerate" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
